
img {
    max-width: 300px;
}
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');

#hero {
    height: 100vh;
}


#logo-container {

   display: flex;
   justify-content: center;
   align-content: center;
}

#hero-text {
    text-align: center;
}

#hero-text h1 {
    font-size: 32px;
}
#hero-text h2 {
    font-size: 24px;
}