li > a {
  text-decoration: none;

  font-size: 19px;
  font-weight: 400;

  color: #e8e8e8;

  padding-right: -300px;
}

li {
  padding-bottom: 15px;
}

li > a:hover {
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: baseline;
  border-bottom-style: solid;
  border-bottom-width: thin;
  /* border-bottom: solid; */
  color: #e8e8e8;

  /* padding-bottom: 30px; */
  /* background-color: red; */
}

#list-wrapper {
  display: flex;
}

#list-wrapper a:hover {
  color: #e8e8e8;
  border-bottom: double #ff1304;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

#list-wrapper li {
  padding: 20px;
}

.navbar-logo img {
  margin-bottom: -20px;
  margin-top: 5px;
  margin-right: 5vh;
}
.footer {
  margin-top: 1rem;
  padding: 1rem;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 20px;
  border-top-style: solid;
  border-top-width: thin;
  border-bottom-style: none;
  background-color: #17181c;
}
