@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap');


li > a {
    text-decoration: none;
    font-family: 'Comfortaa';
    font-size: 19px;
    font-weight: 400;
    /* border: solid 0.3px;
    border-radius: 34px;
    padding: 8px 20px 12px; */
    color: white
}

li > a:hover {
    border: solid 0.3px;
    border-radius: 34px;
    padding: 8px 20px 12px;
    color: white

}
ul {
    color: transparent;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 30px;
    /* background-color: red; */
}

.navbar-container {
    background-color: #2b3033;
    padding-top: 15px;
    margin-bottom: 10px;
}